html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #E8F5E2;
    font-family:'Nunito', sans-serif;
}

.wrapper {
    margin: 0 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

svg {
    width: 100%;
}

.hide-mobile {
    display: none;
}

.toggle-menu {
    transform: translate(0);
}

@media only screen and (min-width: 768px) {
    .hide-tablet {
        display: none;
    }
}